@page
@model EduCenterWeb.Pages.User.ApplyWinterSummerModel
@{
    ViewData["Title"] = "ApplyWinterSummer";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}
@Html.AntiForgeryToken()
@functions{
    public string GetDayName(int day)
    {
        switch (day)
        {
            case 1: return "周一";
            case 2: return "周二";
            case 3: return "周三";
            case 4: return "周四";
            case 5: return "周五";
            case 6: return "周六";
            case 7: return "周日";
        }
        return "";
    }
}
<style type="text/css">
 
    .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
     
        /*overflow-y: auto;*/
    }

    .Title {
        color: #ff6a00;
    }


    .GridContainder {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .GridContainder .SelectCourseTimeTitle {
        font-weight: bold;
        border-radius: 4px;
        color: #707070;
        background-color: #fdebbf;
        padding-left: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 30px;
        line-height: 30px;
    }

    .CellContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 6px;
        font-size: 12px;
        font-weight: bold;
    }

    .CellCourseData div {
        margin-bottom: 8px;
    }

    .CellCourse {
        /*background-color: #6ae703;*/
        height: 26px;
        line-height: 26px;
        width: 85%;
        border-radius: 4px;
        /*color: #005905;*/
        /*font-family: "微软雅黑";*/
    }


    .CourseGrid {
        width: 100%;
        /*box-shadow: 2px 2px 4px #888888;*/
    }

    .CourseGrid tr th {
        border: solid 1px #808080;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }

    .CourseGrid tr td {
        width: 12.5%;
        height: 45px;
        border: solid 1px #808080;
        text-align: center;
    }

    .SelectedArea {
        width: 100%;
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
    }

    .SelectedArea .SelectedCourseTitle {
        font-weight: bold;
        border-radius: 4px;
        color: #1b4100;
        background-color: #88caec;
        padding-left: 5px;
        height: 30px;
        line-height: 30px;
        width: 100%;
    }

    .SelectedArea .SelectedCourseItems {
        display: flex;
        flex-wrap: wrap;
    }

        .SelectedArea .SelectedCourseItems .Item {
            display: flex;
            flex-direction: column;
            align-items: center;
            /*justify-content: center;*/
            border-radius: 8px;
            border: 1px solid #696;
            text-align: center;
            /*height: 60px;*/
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;
            width: 100%;
            box-shadow: #666 0px 0px 4px;
            background: #EEFF99;
            padding: 5px;
        }

    .SelectCourseItemTitle {
        border-bottom: double 1px #65dd03;
        width: 90%;
        padding: 4px;
        font-weight: bold;
    }

    .btnCourseItemClose {
        /*background: url('/images/CloseDialog.png');
        width:24px;
        height:24px;*/
        position: absolute;
        right: -2px;
        top: 0px;
    }

    .SelectCourseItemContent {
        width: 90%;
        margin: 8px;
    }

    .SelectCourseItemContent ul {
        list-style: none;
    }

    .SelectCourseItemContent ul li {
        position: relative;
        height: 28px;
        line-height: 28px;
    }

    /*.layui-tab-title li:first-child {
        font-weight: bold;
        color: #ff661c !important;
    }

    .layui-tab-title li:last-child {
        font-weight: bold;
        color: #0094ff !important;
    }*/


    .CourseSelect {
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: space-around;
    }

    .CourseSelect label {
        border-radius: 4px;
        width: 100%;
    }

    .btnList {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        /*border-top:1px groove #808080;*/
        padding-top: 10px;
    }

    #btnConfirm {
        width: 200px;
        font-weight: bold;
        font-size: 24px;
    }
    .layui-tab-title li{font-weight:bold;}
    .text-warning {
        color: #ffa200;
    }
</style>


<link href="~/css/Plugs/layui.css" rel="stylesheet" />
<link href="~/css/Plugs/checkbox_radio.css" rel="stylesheet" />
<link href="~/css/Plugs/LoadingIcon.css" rel="stylesheet" />
<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/lay/modules/element.v1.1.js"></script>

<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
<script src="~/js/EduLib/Common.js"></script>
<script src="~/js/EduLib/StorageManager.js"></script>
<script src="~/js/EduLib/EditHelper.js"></script>
<script src="~/js/Wap/User/ApplyWinterSummer.js"></script>

<div class="MainContainer">
    <div class="Title">
        <span class="fa fa-tags">课程选择</span>
    </div>

    <div class="GridContainder">
        <div class="SelectCourseTimeTitle"><i class="fa fa-calendar" aria-hidden="true"></i>  请点击选择您上课的时间</div>

        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title layui-tab-more" >
                <li class="text-primary">一</li>
                <li class="text-primary">二</li>
                <li class="text-primary">三</li>
                <li class="text-primary">四</li>
                <li class="text-primary">五</li>
                <li class="text-success">六</li>
                <li class="text-danger">日</li>
            </ul>
            <div class="layui-tab-content">
                @for (int i = 1; i <= 7; i++)
                {
                    string cls = "";
                    if (i == 1)
                    {
                        cls = "layui-show";
                    }
                <div class="layui-tab-item @cls">
                    <!--双休日-->
                    <table id="GridWeek" day="@i" class="CourseGrid" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th></th>
                            <th class="text-warning">@GetDayName(i)</th>
                        </tr>
                        @if (Model.CourseTimes != null)
                            {
                        @foreach (var time in Model.CourseTimes)
                                {

                        <tr>
                            <td style="font-weight:bold">@time.TimeRange</td>
                            <td>
                                <div day="@i" lesson="@time.Lesson" class="CellContainer" onclick="selectCourse(this);">
                                    @*  <div class="noCourse"> <span>无</span><span class="caret"></span></div>*@
                                    <div class="CellCourseData">
                                        @try
                                        {
                                            var list = Model.GetAvaliableCourseList(i, time.Lesson);
                                        @foreach (var c in list)
                                            {
                                        <div lCode=@c.LessonCode CourseType="@Convert.ToInt32(c.CourseType)" CourseCode="@c.CourseCode" CurUser="@c.ApplyNum">@c.CourseName</div>
                                            }
                                        }
                                        catch
                                        {

                                        }
                                    </div>

                                </div>
                            </td>
                        </tr>
                                }
                            }



                    </table>
                </div>
                }
            </div>
        </div>

    </div>

    <div class="SelectedArea">
        <div class="SelectedCourseTitle"><i class="fa fa-star-o" aria-hidden="true"></i>已选择课程</div>
        <div class="SelectedCourseItems">

        </div>

        <div class="btnList">
            <button id="btnConfirm" class="btn btn-warning">
                <span style="padding-right:10px;">购买课时</span><span class="fa fa-shopping-cart" aria-hidden="true"></span>
            </button>

        </div>
    </div>


</div>

<div id="HideData" style="display:none;">
    <div class="Item">
        <div class="SelectCourseItemTitle" CourseCode=""></div>
        <div class="SelectCourseItemContent">
            <ul></ul>
        </div>
    </div>

    <li lesson="" day="" lcode="" id="liData">
        <span class="SelectCourseTime"></span>
        <div class="btnCourseItemClose">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
    </li>

    <div class="noCourse"><span>无</span><span class="caret"></span></div>

    <div class="CellCourse"><span class="cellName">美术1</span><span class="caret"></span></div>
</div>

