@page
@model EduCenterWeb.Pages.User.ApplyTrialModel
@{
    ViewData["Title"] = "ApplyTrial";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}
@Html.AntiForgeryToken()
<link href="~/css/Plugs/checkbox_radio.css" rel="stylesheet" />

<script src="~/lib/laydate/laydate.js"></script>

<script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<link href="~/css/Plugs/layui.css" rel="stylesheet" />
<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/lay/modules/form.js"></script>
<script src="~/js/Wap/User/ApplyTrial.js"></script>
<script src="~/js/EduLib/EditHelper.js"></script>
<style type="text/css">
    .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }

    .Title {
        color: #f7e6b8;
        background-color: #fe852a;
  
    }

    .CourseFilter {
        margin-bottom: 30px;
    }

        .CourseFilter .CourseLabel {
            font-weight: bold;
            line-height: 40px;
        }

    .DateFilter {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;
        margin-bottom: 30px;
    }

        .DateFilter .CalendarPicker {
            display: flex;
            color: #9da09b;
        }

        .DateFilter .DateLabel {
            font-weight: bold;
            line-height: 40px;
        }

        .DateFilter .CalendarPicker .DateInput {
            border-bottom: solid 1px #808080;
            width: 150px;
            line-height: 40px;
            padding-left: 15px;
            color: #12aa21;
            font-size: 16px;
            font-weight: bold;
        }

    .layui-form-select dl dt {
        font-size: 12px;
        color: #004498;
    }

    .TimeFilter {
        display: none;
    }

    #TimeFilterTable {
        width: 100%;
    }

        #TimeFilterTable tr th {
            border-bottom: solid 1px #9da09b;
        }

    .buttonArea {
        /*margin-top: 20px;*/
        margin-bottom: 40px;
        display: none;
        text-align: center;
    }

    .MyTrialList {
    }
</style>



<div class="MainContainer">
    <div class="Title"><i class="fa fa-telegram" aria-hidden="true" style="margin-right:10px;"></i>试听申请</div>
    <div class="FilterArea">
        <div class="layui-form CourseFilter">
            <div class="CourseLabel">课程选择</div>
            <div class="layui-form-item">
                <select id="selCourseCode" lay-filter="selCourseCode">
                    <option value="-1">请选择</option>

                    @foreach (var cl in @Model.CourseDic)
                    {
                        string typeName = EduCenterSrv.Common.BaseEnumSrv.GetCourseTypeName(cl.Key);
                        <optgroup label="@typeName">
                            @foreach (var c in cl.Value)
                            {
                                <option value="@c.Code">@c.Name</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>
        <div class="DateFilter">
            <div class="DateLabel">选择日期：</div>
            <div class="CalendarPicker">
                <div class="DateInput"></div>
                <div class="fa fa-calendar fa-2x" id="btn_DatePick"></div>
            </div>
        </div>
        <div class="TimeFilter">
            <table id="TimeFilterTable" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>时间</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var time in Model.TrialTime)
                {
                    <tr class="TimeFilterTableTr">
                        <td class="tdTime" lesson="@time.Value.Lesson">@time.Value.TimeRange</td>
                        <td class="tdRemark"></td>
                        <td class="tdRadio">
                            <div class="radio radio-primary">
                                <input name="radioCourseTime" type="radio">
                                <label>选择</label>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="buttonArea">
            <button class="btn btn-danger" id="btn_submitTrial">
                提交试听申请
            </button>
        </div>
    </div>
</div>

