@page
@model EduCenterWeb.Pages.User.BuyCourseTimeModel
@{
    ViewData["Title"] = "BuyCourseTime";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}
@functions{
    public string GetTextColor(string PriceCode)
    {
        switch (PriceCode)
        {
            case "StandardPrice1": return "text-primary";
            case "StandardPrice2": return "text-success";
            case "StandardPrice3": return "text-warning";
            case "StandardPrice4": return "text-danger";

        }
        return "";
    }
}
<link href="~/css/Plugs/checkbox_radio.css" rel="stylesheet" />
<script type="text/javascript" src="~/lib/iconfont.js"></script>
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/js/EduLib/EditHelper.js"></script>
<script src="~/js/EduLib/StorageManager.js"></script>
<script src="~/js/Wap/User/BuyCourseTime.js"></script>

<style type="text/css">
    .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: 100vh;
    }

    .Title {
        color: #ff6a00;
 
    }

    .Content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .CourseStandardPriceTitle {
        font-weight: bold;
        border-radius: 4px;
        color: #ffffff;
        background-color: #88caec;
        padding-left: 5px;
        height: 35px;
        line-height: 35px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .PriceList {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .PriceItem {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        align-items: baseline;
        /* height: 60px; */
        justify-content: space-between;
        border-bottom: solid 1px #f3a657;
        padding-top: 20px;
    }

    .BtnAreaList {
        position: absolute;
        bottom: 40px;
    }
</style>

@*Icon*@
<style type="text/css">
    .TitleIcon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }

    .btnIcon {
        width: 32px;
        height: 32px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }

    hr {
        margin-bottom: 20px;
        margin-top: 4px;
        background: #ffac71;
    }
</style>

<div class="MainContainer">
    <div class="Title">
        <svg class="TitleIcon" aria-hidden="true">
            <use xlink:href="#icon-gouwu"></use>
        </svg><span>购买课时</span>
    </div>
    <div class="Content">
        <div class="CourseStandardPriceTitle"><i class="fa fa-list" aria-hidden="true"></i>  课时价格</div>
        <div class="PriceList">

            @if (Model.PriceList != null)
            {
                foreach (var p in Model.PriceList)
                {

                    <div class="PriceItem @GetTextColor(p.PriceCode) ">
                        <div>@p.PriceName</div>
                        <div><i class="fa fa-jpy" aria-hidden="true"></i> <span class="CoursePrice">@p.Price</span></div>
                        <div><span class="CourseQty">@p.Qty</span>课时</div>
                        <div class="radio radio-info">
                            <input type="radio" name="PriceItem" id="r_@p.PriceCode" value="@p.PriceCode">
                            <label for="r_@p.PriceCode">
                                选择
                            </label>
                        </div>

                    </div>
                }
            }


        </div>
        <div class="BtnAreaList">
            <button class="btn btn-warning" id="btn_Submit">确认提交</button>
        </div>
    </div>
</div>
<div id="HideData" style="display:none;">
    @if (@Model.UserSession != null)
    {
        <input type="hidden" id="hUserPhone" value="@Model.UserSession.Phone" />
    }

</div>
    @*<div id="HideData" style="display:none;">
            <div class="PriceItem">
                <div>套餐1</div>
                <div><i class="fa fa-jpy" aria-hidden="true"></i> <span class="CoursePrice">4888</span></div>
                <div><span class="CourseQty">40</span>课时</div>
                <div class="radio radio-info">
                    <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                    <label for="radio4">
                        选择
                    </label>
                </div>

            </div>
        </div>*@

