@page
@model EduCenterWeb.Pages.User.MyCourseModel
@{
    ViewData["Title"] = "CourseSchedule";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}
@Html.AntiForgeryToken()



<script src="~/js/EduLib/Common.js"></script>
<script type="text/javascript" src="~/lib/iconfont.js"></script>

<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>

<script src="~/js/Wap/User/UserCourse.js"></script>

<style type="text/css">
    .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }

    .Title {
        color: #ff6a00;
         background-color: #96dffd;
   
       
    }

    .CourseArea {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

.CourseArea .CourseRow {
display: flex;
justify-content: space-between;
width: 100%;
/*border-bottom:groove 1px #808080;*/
margin-bottom: 30px;
}

.CourseArea .CourseRow .CourseContent {
display: flex;
width: 75%;
padding-left: 8px;
margin-left: 8px;
flex-direction: column;
justify-content: space-evenly;
border-left: groove;
}

.CourseArea .CourseRow .CourseContent .OneCourse {
height: 65px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-bottom:15px;
}

.CourseArea .CourseRow .CourseContent .OneCourse .CourseInfo {
display: flex;
justify-content: space-between;
}

.CourseArea .CourseRow .CourseContent .OneCourse .CourseInfo .CourseName {
    font-size: 18px;
    font-weight: bold;
    color: #8738ee;
}

.CourseArea .CourseRow .CourseContent .OneCourse .CourseInfo .CourseTime {
    font-size: 16px;
    font-weight: bold;
    color: #04616e;
}

.CourseArea .CourseRow .CourseContent .OneCourse .CourseDetail {
display: flex;
width: 100%;
justify-content: space-between;
/*font-weight: bold;*/
color: #646363;
flex-direction:column;
}
.CourseArea .CourseRow .CourseContent .OneCourse .CourseDetail div{
    display:flex;
    justify-content:space-between;
}


.CourseArea .NextCourse {
    display: flex;
    justify-content: space-between;
}

.CourseArea .NextCourse .CourseInfo .CourseName {
    color: #f57b7b;
    font-weight: bold;
    margin-bottom: 10px;
    font-size:18px;
}

.CourseArea .NextCourse  .CourseInfo .CourseTime {
    font-weight: bold;
    font-size: 16px;
    color: #00288d;
}

.CourseArea .CurrentCourse {
    display: flex;
    justify-content: space-between;
    height:90px;
}

.CourseArea .CurrentCourse .CourseInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.CourseArea .CurrentCourse .UserOption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.CourseArea .CurrentCourse .CourseInfo .CourseName {
    color: #27af00;
    font-weight: bold;
    margin-bottom: 10px;
    font-size:18px;
}

.CourseArea .CurrentCourse .CourseInfo .CourseTime {
    /*font-weight: bold;*/
    font-size: 16px;
    color: #00288d;
}

.CourseArea .SplitLine {
}

.CourseLog {
    width: 100%;
    margin-top: 40px;
    overflow-y: auto;
    min-height: 200px;
}

.SubTitle {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.SubTitleName {
    padding-left: 5px;
    padding-bottom: 8px;
    color: #3d86ff;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: solid 1px black;
}

.CourseLog .LogTable {
    width: 95%;
    margin-left: 10px;
}
.CourseStatus{
    color: #12e209;
    font-weight: bold;
    font-size: 16px;
}
#CourseTable{

    width:100%;
    margin-bottom:20px;
}

#CourseTable tr th{
    border:solid 1px #646363;
    text-align:center;

}

#CourseTable tr td{
     border:solid 1px #646363;
     text-align:center;
     height:50px;   
     font-size:12px;
}
.CourseCellContainer{
       height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CourseCell{
       width: 55%;
    height: 90%;
    border-radius: 6px;
    padding-top: 4px;
}

</style>
<style>
    .DayIcon {
        width: 60px;
        height: 80px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }
</style>

<div class="MainContainer">
    <div class="Title">
        <div>
            <span class="fa fa-calendar" style="margin-right:8px;"></span>我的课程
        </div>
    </div>
    <div class="CourseArea">
        <table border="0" cellpadding="0" cellspacing="0" id="CourseTable">
            <tr>
                <th width="16%">开课</th>
                <th width="12%" style="color:#FF3333;">一</th>
                <th width="12%" style="color:#FFAA33;">二</th>
                <th width="12%" style="color:#FFFF33;">三</th>
                <th width="12%" style="color:#99FF33;">四</th>
                <th width="12%" style="color:#5599FF;">五</th>
                <th width="12%" style="color:#7744FF;">六</th>
                <th width="12%" style="color:#E93EFF;">日</th>
            </tr>
            @foreach (var time in Model.CourseTime)
            {
                <tr>
                    <td>@time.Value.TimeRange.Substring(0,5)</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="CourseCellContainer">
                            <div class="CourseCell bg-primary">美术</div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            }


        </table>

        <!-- 当前课程 -->
        @if (Model.CurrentCourse != null)
        {
            <div class="CurrentCourse">
                <div class="CourseInfo">
                    <div class="CourseName">当前：@Model.CurrentCourse.CourseName</div>
                    <div class="CourseTime">时间：@Model.CurrentCourse.CourseTime</div>
                </div>
                <div class="UserOption">
                    @if (Model.NextCourse.UserCourseLogStatus == EduCenterModel.BaseEnum.UserCourseLogStatus.PreNext)
                    {
                        <input id="btn_Leave" type="button" class="btn btn-warning" date="@Model.CurrentCourse.CourseDateTime" value="我要请假" />
                    }
                    else
                    {
                        <div>@Model.UserCourseLogStatus[(int)Model.CurrentCourse.UserCourseLogStatus]</div>
                    }
                    <input id="btn_Sign" type="button" class="btn btn-danger" date="@Model.CurrentCourse.CourseDateTime" value="我要签到" />
                </div>

            </div>
        }

        else if (Model.NextCourse != null)
        {
            <div class="NextCourse">
                <div class="CourseInfo">
                    <div class="CourseName">下节课：@Model.NextCourse.CourseName</div>
                    <div class="CourseTime">时间：@Model.NextCourse.CourseTime</div>
                </div>
                <div class="UserOption">
                    @if (Model.NextCourse.UserCourseLogStatus == EduCenterModel.BaseEnum.UserCourseLogStatus.PreNext)
                    {
                        <input id="btn_Leave" type="button" class="btn btn-warning" date="@Model.NextCourse.CourseDateTime" value="我要请假" />
                    }
                    else
                    {
                        <div class="CourseStatus">@Model.UserCourseLogStatus[(int)Model.NextCourse.UserCourseLogStatus]</div>
                    }


                </div>
            </div>
        }

    </div>
    <!-- Log -->
    @if (@Model.UserCourseLogList != null && @Model.UserCourseLogList.Count > 0)
    {
        <div class="CourseLog">
            <div class="SubTitle">
                <div class="SubTitleName">课程记录[最近10次]</div> <div><a href="CourseList">更多</a></div>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="LogTable">
                <tr>
                    <th>开始日期</th>
                    <th>课程名</th>
                    <th>状态</th>
                </tr>
                @foreach (var log in @Model.UserCourseLogList)
                {
                    <tr>
                        <td>@log.CourseDateTime</td>
                        <td>@log.CourseName</td>
                        <td>@log.UserCourseLogStatusName</td>
                    </tr>
                }

            </table>
        </div>
    }

</div>


@*<div class="CourseRow">
        <div class="CourseDay">
            <svg class="DayIcon" aria-hidden="true">
                <use xlink:href="#icon-zhouyi"></use>
            </svg>
        </div>
        <div class="CourseContent">
            <div class="OneCourse">
                <div class="CourseInfo">
                    <div class="CourseName">书法1</div>
                    <div class="CourseTime">16：30-20:00</div>
                </div>
                <div class="CourseDetail">

                    <div>上次开课：2019-10-6</div>

                    <div>缺席</div>
                </div>
            </div>

            <div class="OneCourse">
                <div class="CourseInfo">
                    <div class="CourseName">书法1</div>
                    <div class="CourseTime">16：30-20:00</div>
                </div>
                <div class="CourseDetail">

                    <div>上次开课：2019-10-6</div>

                    <div class="SignIn">签到</div>
                </div>
            </div>
        </div>


    </div>*@


