@page
@model EduCenterWeb.Pages.User.MyCourseTimeModel
@{
    ViewData["Title"] = "MyCourseTime";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}

@Html.AntiForgeryToken()

<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/lay/modules/flow.js"></script>

<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>

<script src="~/js/EduLib/EditHelper.js?v=@Model.jsVersion"></script>
<script src="~/js/Wap/User/MyCourseTime.js?v=@Model.jsVersion"></script>
<style type="text/css">
    .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }

    .Title {
        color: #864b00;
        background-color: #fdec96;
    }

    .CouseTimeInfo {
        width: 95%;
    }

        .CouseTimeInfo .Info_Line {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 34px;
            line-height: 34px;
        }

            .CouseTimeInfo .Info_Line > div > span {
                padding-left: 8px;
                font-weight: bold;
            }

    .ReChargeList {
        margin-top: 20px;
        width: 95%;
    }

    .ConsumeList {
        margin-top: 20px;
        width: 95%;
    }

    .subTitle {
        font-weight: bold;
        font-size: 15px;
        display: flex;
        height: 24px;
        line-height: 24px;
        align-items: baseline;
        border-radius: 4px;
        justify-content: space-between;
        margin-bottom:10px;
    }

    .subTitleName {
        padding-left: 8px;
    }

    .subTitle > i {
        padding-right: 10px;
    }
    .BtnArea{
        align-self: flex-end;
        padding-right: 10px;
    }

    .DataList{
        display:flex;
        flex-direction:column;
        font-size:13px;
    }
    .ReChargeOneRow{

    }
    .ComsumeOneRow{}
    .ListLine{
        display:flex;
        justify-content:space-between;
        height:28px;
        line-height:28px;
    }
    .NoData{text-align:center;
            color:#808080;
    }
    .CourseStatus{
        font-weight:bold;
    }
    .ItemName{
        font-weight:bold;
    }
    hr{
        margin-top:0px;
        margin-bottom:0px;
    }
    #GetMoneyArea {
    display: none;
    height: 50px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    justify-content: space-between;
}

    #GetMoneyArea div {
        border-bottom: none;
    }

#GetMoney_Amt {
    width: 120px;
    font-size: 12px;
}
</style>
<div class="MainContainer">
    <div class="Title">我的账户</div>

    @if (Model.UserAccount != null)
    {
    <div class="BtnArea">
        <button id="btnToBuy" class="btn btn-primary btn-xs">
            我要续费
        </button>
    </div>
    <div class="CouseTimeInfo">
        <div class="Info_Line">
            <div>【标准版】</div>
            <div class="text-warning text">剩余:<span>@Model.UserAccount.RemainCourseTime</span></div>
            <div class="text-danger text">有效期:<span>@Model.UserAccount.DeadLine.ToString("yyyy-MM-dd")</span></div>
        </div>
        <div class="Info_Line">
            <div>【暑假班】</div>
            <div class="text-warning text">剩余:<span>@Model.UserAccount.RemainSummerTime</span></div>
            <div class="text-danger text">有效期:<span>@Model.UserAccount.SummerDeadLine.ToString("yyyy-MM-dd")</span></div>
        </div>
        <div class="Info_Line">
            <div>【寒假班】</div>
            <div class="text-warning text">剩余:<span>@Model.UserAccount.RemainWinterTime</span></div>
            <div class="text-danger text">有效期:<span>@Model.UserAccount.WinterDeadLine.ToString("yyyy-MM-dd")</span></div>
        </div>
        <hr />
        <div class="Info_Line">
            <div>【奖励金额】</div>
            <div class="text-warning text">总金额:<span>@Model.UserAccount.InviteRewards</span></div>
            <div class="text-warning text">未提取:<span class="RemainReward">@Model.UserAccount.RemainRewards</span></div>
            <div>
                <button id="btnGetReword" class="btn btn-success btn-xs">
                    提取奖金
                </button>
            </div>
        </div>
        @*<div id="GetMoneyArea">
            <div><label for="GetMoney_Amt">输入提现金额:</label></div>
            <div><input type="tel" id="GetMoney_Amt" class="form-control" onchange="CheckAmtValue(this);" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" /></div>
            <div><button type="button" onclick="SureGetMoney();" class="btn btn-warning" id="btnSureGetMoney">确定</button></div>
        </div>*@
    </div>


        }


        <div class="ReChargeList">
            <div class="subTitle bg-success" id="ReChargeBar">
                <div class="subTitleName">
                    充值记录(最近10条)
                </div>
                <i class="fa fa-caret-left"></i>
            </div>
            <div class="DataList">
            </div>
        </div>
        <div class="ConsumeList">
            <div class="subTitle bg-primary" id="ComsumeBar">
                <div class="subTitleName">
                    消费记录(最近20条)
                </div>
                <i class="fa fa-caret-left"></i>
            </div>
            <div class="DataList">
            </div>
        </div>
    </div>
<div id="HideData" style="display:none;">
    <div class="NoData">没有数据</div>
    <div class="ReChargeOneRow">
        <div class="ListLine">项目:<span class="ItemName">标准班[40]课时</span></div>
        <div class="ListLine">
            <div>缴费时间:<span class="BuyDate">xxxx年xx月xx日</span></div>
            <div>
                金额:<span class="Amount">4888.00</span>
            </div>
        </div>
    </div>
    <hr />
    <div class="ComsumeOneRow">
        <div class="ListLine">
            <span class="CourseName">【标准班】美术课</span>
            <div>
                消耗方式:<span class="CourseStatus"></span>
            </div>
        </div>
        <div class="ListLine">
            <div>开课时间:<span class="CourseDate">xxxx年xx月xx日</span></div>
        </div>
    </div>
</div>

