@page
@model EduCenterWeb.Pages.User.MySignModel
@{
    ViewData["Title"] = "MySign";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}

@Html.AntiForgeryToken()

<link href="~/lib/bootstrap/dist/fonts/font-awesome.min.css" rel="stylesheet" />
<style type="text/css">
.MainContainer {
display: flex;
align-items: center;
flex-direction: column;
margin-left: 10px;
margin-right: 10px;
height: 100%;
}

.MainTitle {
    color: #630303;
    text-align: center;
  
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #ffd5d5;
    width: 80%;
    border-radius: 8px;
    font-weight: bold;
    border: solid 1px;
}

.SignLog {
width: 100%;
overflow-y: auto;
min-height: 200px;
}

.SignLog .SubTitle {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.SignLog .SubTitle .SubTitleName {
    padding-left: 5px;
    padding-bottom: 8px;
    color: #3d86ff;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: solid 1px black;
}
.SignLog .LogTable {
        width: 95%;
        margin-left: 10px;
    }
.UnSignArea{
    min-height:200px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    flex-direction:column;
    
}
.UnSignArea .SignInfo
{
    color: #216301;
    font-size: 16px;
    font-weight: bold;
}
.PreSign button{
    box-shadow: #a28103 0px 0px 4px;
}
.PreSign button div{
        font-size: 16px;
    font-weight: bold;
}

.SignedArea{
     min-height:200px;
    display:none;
    justify-content:space-around;
    align-items:center;
    width:100%;
    flex-direction:column;
}
.SignedArea .Signed button i{
    font-size:30px;
}
.SignedArea .Signed button div{
    font-weight:bold;
    font-size:18px;
}


</style>

<script src="~/js/Wap/User/UserSign.js"></script>
<div class="MainContainer">
    <div class="MainTitle"><i class="fa fa-pencil-square" aria-hidden="true" style="margin-right:10px;"></i>课程签到</div>
    <div class="UnSignArea">
        <div class="SignInfo">请点击签到！<i class="fa fa-hand-o-down" aria-hidden="true"></i></div>
        <div class="PreSign">
            <button class="btn btn-info" id="btn_Sign">
                <div>2019-10-19</div>
                <div>美术课</div>
                <i class="fa fa-sign-in" aria-hidden="true"></i><div>签到</div>
            </button>
        </div>
    </div>
    <div class="SignedArea">
        @*<div class="SignInfo"><i class="fa fa-hand-o-down" aria-hidden="true"></i>已签到</div>*@
        <div class="Signed">
            <button class="btn btn-success">
                <div>2019-10-19</div>
                <div>美术课</div>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                @*<i class="fa fa-thumbs-o-up" aria-hidden="true" >*@</i><div>已签到</div>
            </button>
        </div>
    </div>
    @if (@Model.UserCourseLogList != null && @Model.UserCourseLogList.Count > 0)
    {
        <div class="SignLog">
            <div class="SubTitle">
                <div class="SubTitleName">签到记录[最近10次]</div> <div>更多</div>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" class="LogTable" width="100%">
                <tr>
                    <th>日期</th>
                    <th>课程名</th>
                    <th>状态</th>
                </tr>
                @foreach (var log in @Model.UserCourseLogList)
                {
                    <tr>
                        <td>@log.CourseDateTime</td>
                        <td>@log.CourseName</td>
                        <td>@log.UserCourseLogStatusName</td>
                    </tr>
                }

            </table>
        </div>
    }
</div>