@page
@model EduCenterWeb.Pages.WebBackend.User.ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/WebBackend/Home">主页</a></li>
}

<script src="~/lib/laydate/laydate.js"></script>
<script src="~/lib/layer-v3.1.1/layer/layer.js"></script>

<link href="~/lib/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/lay/modules/laypage.js"></script>
<script src="~/js/WebBackEnd/User/List.js?v=@Model.jsVersion"></script>

<style type="text/css">
    .MainContainer{
        overflow-y:auto;
    }
    .OptionArea {
        margin: 20px;
        display:flex;
    }

    #UserListTable {
      width:100%;
        font-size: 11px;
    }

        #UserListTable tr th {
            border: solid 1px #808080;
            text-align:center;
             height:34px;
        }

        #UserListTable tr td {
            border: solid 1px #808080;
            height:30px;
            padding:6px;
           
        }

        .form-control{
            width:auto;
        }
        .OneField{
            display:flex;
            margin-right:20px;
            align-items: center;
        }
        .OneField input{
            height:28px;
            line-height:28px;
        }
         .OneField select{
              height:28px;
         }
         #UserListTable tr td input{
            height:100%;
            /*width:90%;*/
            border:none;
            outline:none;
        }
         .RowOption{
              display: flex;
    width: 100px;
    justify-content: space-between;
         }
         .DeadLineStd{width:80px;}
         table{
             table-layout:fixed;word-break:break-all;
         }
         input[type=number]
         {
             width:50px;
         }
        .RealName{width:60px;}
        .BabyName{
            cursor:pointer;
            width:100px;
        }
        .MemberLine{
            background-color:#faf18d;
        }
        .TrialLine{
            background-color:#99d8fd;
        }
         .Note{
            text-decoration:underline;
            cursor:pointer; 
         }
         .Contract{
             border-bottom: solid 1px #999999 !important;
             width:100%;
         }
         .eduCheckBox{
             width:20px;
             height:20px;
         }
         .label_HasTrial{
             line-height:32px; margin-left:5px;
             margin-bottom:auto ;
         }
         .HasTrial{
             width:55px !important;
         }
</style>

<div class="MainContainer">
    <div class="OptionArea">
        <div class="OneField">
            <div><label>微信名：</label></div>
            <div>
                <input id="UserName" type="text" value="">
            </div>
        </div>
        <div class="OneField">
            <div><label>宝贝姓名：</label></div>
            <div>
                <input id="BabyName" style="width:100px" type="text" value="">
            </div>
        </div>
        <div class="OneField">
            <div><label>用户身份：</label></div>
            <div>
                <select id="selUserRole">
                    <option value="-1" selected>全部</option>
                    @foreach (var ur in Model.UserRoleList)
                    {
                        <option value="@ur.Key">@ur.Value</option>
                    }
                </select>
            </div>
        </div>

        <div class="OneField">
            <div><label>会员类型：</label></div>
            <div>
                <select id="selMemberType">
                    <option value="-1" selected>全部</option>
                    @foreach (var mt in Model.MemberTypeList)
                    {
                        <option value="@mt.Key">@mt.Value</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <input id="btnQuery" type="button" class="btn btn-primary btn-sm" value="查询" />
            <input id="btnQueryReset" type="button" class="btn btn-danger btn-sm" value="重置" />
        </div>
    </div>
    @*<div class="OptionArea">
        <div class="OneField">
            <input type="checkbox" id="cb_HasTrial" class="eduCheckBox" onclick="FilterTriedUser">
            <label for="cb_HasTrial" class="text-danger label_HasTrial" >已试听非会员</label>
        </div>
    </div>*@
    <div class="DataArea">
        <table id="UserListTable" border="0" cellpadding="0" cellspacing="0">
            <tr id="Header">
                <th width="120px">操作</th>
                <th width="80px">备注</th>
                <th width="70">积分</th>
                <th style="min-width:150px;">用户微信名</th>
                <th width="90px">联系方式</th>
                @*<th width="80px">家长姓名</th>*@
                <th width="100px">宝贝姓名</th>
                <th width="90px">用户身份</th>
                <th width="90px">会员类型</th>
                <th width="70px">特殊价格</th>
                <th width="60px">【标】课时</th>
                <th width="60px">【暑】课时</th>
                <th width="60px">【寒】课时</th>
                <th width="80px">关注时间</th>
                <th width="122px">标准班有效期</th>
                <th width="80px">接待人</th>
                @*<th>暑假班有效期</th>
        <th>寒假班有效期</th>*@
                @*<th>允许选择标准课</th>
        <th>允许选择假期课</th>*@
            </tr>
           
        </table>

        <div id="Pager"></div>
    </div>
</div>
<div id="HideData" style="display:none">
    <table id="DataTable">
        <tr openId="">
            <td>
                <div class="RowOption">
                    <div>
                        <input type="button" class="btn btn-danger btn-xs" value="课程详情" id="btn_AdjustCourse" />
                    </div>
                    <div>
                        <input type="button" class="btn btn-warning btn-xs" value="保存" id="btn_Save" />
                    </div>
                </div>
            </td>
            <td onclick="OpenUserNote(this)"><label class="Note"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>备注信息</label></td>
            <td><input type="number" class="HasTrial"></td>
            <td><label class="WxName TextNoWrap" style="width:150px;"></label></td>
            <td><input type="text" class="Contract" /></td>
            @*<td><input class="RealName" type="text" /></td>*@
            <td onclick="CreateBabyInfoForm(this);"><label class="BabyName text-info TextNoWrap">暂无</label></td>
            <td>
                <select class="UserRole">
                    @foreach (var ur in Model.UserRoleList)
                    {
                        <option value="@ur.Key">@ur.Value</option>
                    }
                </select>
            </td>
            <td>
                <select class="MemberType">
                    @foreach (var mt in Model.MemberTypeList)
                    {
                        <option value="@mt.Key">@mt.Value</option>
                    }

                </select>
            </td>
            <td>
                <input class="VipPrice" type="number" />
            </td>
            <td>
                <input class="RemainTimeStd" type="number" />
            </td>
            <td><input class="RemainTimeSummer" type="number"></td>

            <td><input class="RemainTimeWinter" type="number"></td>
            <td><label class="wxJoinDateTime"></label></td>

            <td>
                <input class="DeadLineStd" readonly type="text">
                <div class="fa fa-calendar fa-2x DatePick" id=""></div>
            </td>
            <td>
                <select class="selSalesName">
                    <option value="">自助完成</option>
                    @foreach (var ui in Model.SalesUserList)
                    {
                        <option value="@ui.OpenId">@ui.RealName</option>
                    }
                </select>
            </td>
        </tr>
    </table>
</div>