@page
@model EduCenterWeb.Pages.WebBackend.Course.PlanModel
@{
    ViewData["Title"] = "PlanCreator";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}

@section navBar{
    <li><a href="/Home">主页</a></li>
}
@Html.AntiForgeryToken()
<link href="~/css/Plugs/LoadingIcon.css" rel="stylesheet" />
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
<script src="~/lib/laydate/laydate.js"></script>
<script src="~/js/EduLib/EditHelper.js"></script>
@*<script src="~/js/EduLib/CalendorPlan.js"></script>*@
<script src="~/js/WebBackEnd/Course/Plan.js"></script>
<style type="text/css">
    .MainContainer {
        margin-left: 30px;
        display: flex;
    }

    .CourseGridContainer {
        margin-right: 25px;
        width: 95%;
    }

    .CourseListContainer {
        width: 120px;
    }

    #CourseGrid {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        #CourseGrid tr th {
            border: solid 1px #808080;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

        #CourseGrid tr td {
            border: solid 1px #808080;
            text-align: center;
            height: 120px;
        }
    /*#CourseGrid .CourseCell:hover{
        border:#0257d2;
        background-color:#dbedfd;
        cursor:pointer;

    }*/

    .CourseList {
        padding-left: 10px;
        border-radius: 0px;
    }

        .CourseList li {
            cursor: pointer !important;
            border-radius: 0px;
            text-align: center;
        }
    /*.CourseList li:hover{
       border:1px solid #5d9ffd;

    }*/
    /*用于拖拽的约定*/
    .AcceptCell {
    }

        .AcceptCell .CellContainer {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

            .AcceptCell .CellContainer .CellRow {
                padding: 5px;
                display: flex;
                justify-content: space-between;
            }

                .AcceptCell .CellContainer .CellRow .closeBtn {
                    width: 14px;
                    height: 14px;
                    vertical-align: text-top;
                    cursor: pointer;
                }

    .DropCellHover {
        border: 1px solid #5d9ffd;
        background-color: #5d9ffd;
    }

    .HideData {
        display: none;
    }

    /*上排按钮Bar*/
    .BtnList {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

        .BtnList .Option {
            display: flex;
            width: 60%;
        }

            .BtnList .Option div {
                display: flex;
                margin-right: 15px;
            }

    .planYear {
        width: 80px;
    }
    /*上排按钮Bar*/
    .PlanInfo{
        height:30px;
        line-height:30px;
        font-weight:bold;
    }
</style>

<div class="MainContainer">

    <div class="CourseGridContainer">
        <div class="BtnList">
            <div class="Option">
                <div>
                    <label for="planYear" style="margin-top:5px;">年：</label>
                    <input type="text" id="planYear" class="planYear form-control" />
                </div>
                <div>
                    <label for="selScheduleType" style="margin-top:5px;width:120px;">课程类型：</label>
                    <select id="selScheduleType" class="form-control">
                        @foreach (var ct in Model.CourseScheduleType)
                        {
                            <option value="@ct.Key">@ct.Value</option>
                        }
                    </select>
                </div>
                <div class="PlanInfo text-danger">@*2019 暑假区间:7月20日-9月15日*@</div>
            </div>
            
            <div>
                <input type="button" id="btnSave" class="btn btn-warning" value="发布" />
            </div>

        </div>
        
        <table Id="CourseGrid" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>课时</th>
                <th>周一</th>
                <th>周二</th>
                <th>周三</th>
                <th>周四</th>
                <th>周五</th>
                <th>周六</th>
                <th>周日</th>
            </tr>
            @foreach (var time in Model.CourseTimes)
            {
                <tr>
                    <td width="100px;">@time.TimeRange</td>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td width="13%" class="CourseCell AcceptCell">
                            <div class="CellContainer" day="@(i+1)" lesson="@time.Lesson">


                            </div>
                        </td>
                    }

                </tr>


            }

        </table>
    </div>

    <div class="CourseListContainer">
        <ul class="CourseList list-group">

            @for (int i = 0; i < Model.CourseList.Count; i++)
            {
                var c = Model.CourseList[i];
                var gl = "list-group-item-info";
                switch (c.CourseType)
                {
                    case EduCenterModel.BaseEnum.CourseType.MS:
                        gl = "list-group-item-warning"; break;
                    case EduCenterModel.BaseEnum.CourseType.SF:
                        gl = "list-group-item-danger"; break;
                    case EduCenterModel.BaseEnum.CourseType.WQ:
                        gl = "list-group-item-success"; break;
                    default:
                        gl = "list-group-item-info"; break;
                }

                <li cCode="@c.Code" cType="@c.CourseType" cgl="@gl" class="list-group-item @gl">@c.Name</li>


            }

        </ul>
    </div>
</div>
<div class="HideData">
    <div class="CellRow list-group-item" cCode="" cType="" no="" rid="">
        <div class="cellText"></div>
        @*<div>
                <select class="selTec">

                </select>
            </div>*@
        <div>
            <img class="closeBtn" src="~/images/CloseDialog.png" onclick="DelRow(this);" />
        </div>
    </div>
</div>


