@page
@model EduCenterWeb.Pages.Test.WXModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
    <link href="~/css/Layouts/GlobalShared.css" rel="stylesheet" />
    <script src="~/js/EduLib/EditHelper.js"></script>
    <script src="~/js/EduLib/Common.js"></script>
    <link href="~/lib/bootstrap/dist/fonts/font-awesome.min.css" rel="stylesheet" />
    <title>WX</title>
    <style type="text/css">
        table tr td{
            border:solid 1px #808080;
            padding:8px;
        }
        .WXImg{
            width:100px;
            height:100px;
        }
    </style>
</head>
<body>
    <div>
        <div>@Model.Msg</div>
        <form method="post">
            <input type="submit" value="测试老师邀请" asp-page-handler="InviteTec" />
        </form>
        <form method="post">
            <input type="submit" value="测试邀请通知" asp-page-handler="NewInvite" />
        </form>
        <div style="margin-top:20px;">
            <form method="post">
                <input type="submit" value="获取永久图文列表" asp-page-handler="GetNewsMeterial" />
                @if (Model.JOMedia != null)
                {
                    <table border="0" cellpadding="0" cellspacing="0" width="80%">

                        @foreach (var item in Model.JOMedia.item)
                        {
                            <tr>
                                @foreach (var c in item.content.news_item)
                                {
                                    <td>@item.media_id</td>
                                    <td>@c.title</td>
                                    <Td>@c.url</Td>
                                }
                            </tr>

                        }
                    </table>
                }

            </form>
        </div>

        <div style="margin-top:20px;">
            <form method="post">
                <input type="submit" value="图片列表" asp-page-handler="GetPicMeterial" />
                @if (Model.PicMedia != null)
                {
                    <table border="0" cellpadding="0" cellspacing="0" width="80%">

                        @foreach (var item in Model.PicMedia.item)
                        {
                            <tr>
                                <td>@item.media_id</td>
                                <td title="@item.url">@item.url</td>
                                <td><img src="@item.url" class="WXImg" /></td>

                            </tr>

                        }
                    </table>
                }

            </form>
        </div>

    </div>
</body>
</html>
