@page
@model EduCenterWeb.Pages.WebBackend.MasterData.CourseModel
@{
    ViewData["Title"] = "Course";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}

@section navBar{
    <li><a href="/WebBackend/Home">主页</a></li>
}

@*<link href="~/css/Plugs/checkbox_radio.css" rel="stylesheet" />*@
<link href="~/css/Layouts/ManagerStyle.css" rel="stylesheet" />
<link href="~/css/Plugs/LoadingIcon.css" rel="stylesheet" />


<script src="~/js/WebBackEnd/MasterData/Course.js"></script>

<style type="text/css">
    /*.CheckBoxRow{
        line-height:14px;
        display:flex;
        width:240px;
        justify-content:space-around;
    }
    .checkbox+ .checkbox{
        margin-top:10px;
    }*/
    .CourseClass {
        display: flex;
        line-height: 35px;
        margin: 10px;
    }

    .levelBtnDiv {
        padding-left: 20px;
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
    }

    .FieldLabel {
        width: 20%;
    }

    .FieldValue {
        width: 32%
    }

    .FieldOption {
        width: 20%;
        text-align: center;
    }

        .FieldOption .btn {
            padding: 3px 6px;
            margin-bottom: 6px;
        }

    .HideData {
        display: none;
    }
</style>

<div class="TitleBar">
    <div class="Title">课类管理</div>


</div>
<div class="MainContainer">
    <div class="LeftList">
        @foreach (var obj in Model.CourseType)
        {
            <a onclick="SelectCourse(this);" class="list-group-item" cType="@obj.Key">@obj.Value</a>
            // <a href="javascript:SelectCourse('cItem_@obj.Code','@obj.Code');" id="cItem_@obj.Code" cId="@obj.Id" Key="@obj.Code" class="list-group-item">@string.Format("{0}_{1}", obj.Code, obj.Name)</a>
        }
    </div>
    <div class="RightDetail">
        <div class="TitleBarButtonList">
            <input type="button" id="btn_AddLevel" class="btn btn-warning" value="添加Level" />
        </div>
        <div class="FormFields" id="FormFields">
        </div>
        <div class="BtnBottomList">
            <input type="button" id="btnSave" value="保存" class="btn btn-success" />
        </div>
    </div>
    <div class="HideData">
        <div class="TreeRow">
            <div class="FieldRow">
                <div class="FieldLabel">Code</div><div class="FieldValue"><input id="vCode" type="text" class="form-control" /></div>
                <div class="FieldLabel">课名</div><div class="FieldValue"><input id="vName" type="text" class="form-control" /></div>
                <div class="FieldLabel">级别</div>
                <div class="FieldValue">
                    <select class="selLevel form-control">
                        <option value="1" class="list-group-item list-group-item-success">1级</option>
                        <option value="2" class="list-group-item list-group-item-warning">2级</option>
                        <option value="3" class="list-group-item list-group-item-danger">3级</option>
                    </select>
                </div>
                <div class="FieldOption"><input type="button" value="删除" class="btn btn-danger" onclick="DelLevel(this);" /></div>
            </div>
            <div class="TreeLevel2">
                <div class="FieldLabel">班级</div><div class="FieldValue"><input id="vClass" clsId="" type="text" class="form-control" value="1班" /></div>
                <div class="FieldLabel">老师</div>
                <div class="FieldValue">
                    <select class="selTec form-control">
                        <option value="-1" class="list-group-item list-group-item-success">请选择</option>
                        @foreach (var tec in Model.TecList)
                        {
                            <option value="@tec.Code">@tec.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>

