@page
@model EduCenterWeb.Pages.WebBackend.MasterData.TecModel
@{
    ViewData["Title"] = "Tec";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}

@section navBar{
    <li><a href="/Home">主页</a></li>
}
@Html.AntiForgeryToken()
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/css/Layouts/ManagerStyle.css" rel="stylesheet" />
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
<link href="~/css/Plugs/LoadingIcon.css" rel="stylesheet" />
@*<link href="~/lib/laydate/theme/default/laydate.css" rel="stylesheet" />
    <script src="~/lib/laydate/laydate.js"></script>*@
<script src="~/js/EduLib/EditHelper.js"></script>
<script src="~/js/WebBackEnd/MasterData/Tec.js"></script>
<style type="text/css">
    .FormFields {
        width: 800px !important;
    }

    .FieldValue {
        width: 30% !important;
    }

    .FieldLabel {
        width: 15% !important;
    }
    /*Sill Table begin*/
    #SkillGrid {
        width: 45%;
        margin-left: 30px;
        margin-top: 15px;
    }

        #SkillGrid tr th {
            border: solid 1px #808080;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

        #SkillGrid tr td {
            border: solid 1px #808080;
            text-align: center;
            height: 40px;
            line-height: 40px;
        }
    /*Sill Table End*/

    .TabTitleLine {
        border-bottom: solid 1px #ffd800;
        height: 30px;
    }

        .TabTitleLine span {
            padding-left: 20px;
        }

    .btn-group {
        width: 100%;
    }

        .btn-group .btn {
            width: 100%;
            border-radius: 0px;
            border: none;
        }

    .sexSpan {
        padding-left: 8px;
        padding-right: 8px;
    }
</style>

<div class="TitleBar">
    <div class="Title">教师管理</div>

    <div class="TitleBarButtonList">
        <input type="button" class="btn btn-info" id="btnNew" value="邀请教师" />
        <input type="button" class="btn btn-success" id="btnSave" value="保存" />
    </div>

</div>
<div class="MainContainer">
    <div class="LeftList">
        @foreach (var obj in Model.PData.TecList)
        {
            <a onclick="SelectTec(this);" Key="@obj.Code" class="list-group-item">@string.Format("{0}_{1}", obj.Code, obj.Name)</a>
        }
    </div>
    <div class="RightDetail">
        <h4 class="TabTitleLine"><span>基本信息</span></h4>
        <div class="RTecInfo">
            <div class="FormFields" id="FormFields">
                <div class="FieldRow">
                    <div class="FieldLabel">编号:</div><div class="FieldValue"><input id="vCode" type="text" class="form-control" /></div>
                    <div class="FieldLabel">名称:</div><div class="FieldValue"><input id="vName" type="text" class="form-control" /></div>
                </div>
                <div class="FieldRow">
                    <div class="FieldLabel">微信昵称:</div><div class="FieldValue"><input id="vWXName" type="text" class="form-control" /></div>
                    <div class="FieldLabel">手机号:</div><div class="FieldValue"><input id="vPhone" type="text" class="form-control" /></div>
                </div>
                <div class="FieldRow">
                    <div class="FieldLabel">性别:</div>
                    <div class="FieldValue">
                        <input type="radio" name="sex" value="1" /><span class="sexSpan">男</span>
                        <input type="radio" class="sexRadio" name="sex" value="0" /><span class="sexSpan">女</span>
                        @* <input id="vCode" type="text" class="form-control" />*@
                    </div>
                    <div class="FieldLabel">加入时间:</div><div class="FieldValue"><input id="vCreatedDateTime" type="text" class="form-control" /></div>
                </div>

            </div>
        </div>
        <h4 class="TabTitleLine"><span>教师技能</span></h4>
        <div class="RTecSkill">
            <table Id="SkillGrid" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th style="width:65%">技能</th>
                    <th>熟练度</th>
                </tr>
                @foreach (var s in Model.PData.CourseType)
                {
                    <tr>
                        <td>@s.Value</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="skillText">无</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="skCouse_@s.Key">
                                    @foreach (var sk in Model.PData.SkillLevelList)
                                    {
                                        <li><a onclick="SelectSkillLevel(this);" curType="@s.Key" skl="@sk.Key" tsId="">@sk.Value</a></li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
        @*<h4 class="TabTitleLine"><span>请假状况</span></h4>
            <div class="RTecLeave">

            </div>*@
    </div>
</div>

