@page
@model EduCenterWeb.Pages.WebBackend.Tec.NewTrialCourseModel
@{
    ViewData["Title"] = "NewTrialCourse";
    Layout = "~/Pages/Shared/_EduWebDialog.cshtml";
}
<script src="~/lib/laydate/laydate.js"></script>
@*<link href="~/css/Plugs/layui.css" rel="stylesheet" />*@
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>

<script src="~/js/WebBackEnd/Tec/NewTrialCourse.js?v=@Model.jsVersion"></script>
<style type="text/css">
    .MainContainer {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .SubTitle {
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        height: 35px;
        line-height: 35px;
    }

    .oneRow {
        display: flex;
  margin:20px;
        /*justify-content: space-between;*/
        /*width: 70%;*/
        align-items:baseline;
    }
    .oneRow >label{
        width:120px;
    }

    .btnList {
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
    }

.eduSelect {
    height:26px;
    }
  .TopButtonList{
          text-align: end;
  }
</style>
<div class="MainContainer">

  
    <div class="Content">
        @*<div class="TopButtonList">
            <input id="btn_Save" type="button" class="btn btn-warning btn-sm" value="保存" />
        </div>*@
        <div class="oneRow">
            <label class="layui-field-title">接待人：</label>
            <div class="bSalesName">
                <select id="selSalesName">
                    <option value="">自助完成</option>
                    @foreach (var ui in Model.SalesUserList)
                    {
                        <option value="@ui.OpenId">@ui.RealName</option>
                    }
                </select>
            </div>
        </div>
        <div class="oneRow">
            <label>宝贝：</label>
            <div><input type="text" class="bUserName" readonly /></div>
        </div>
        <div class="oneRow">
            <label>联系方式：</label>
            <div><input type="text" class="bUserPhone" /></div>
        </div>
        <div class="oneRow">
            <label class="layui-field-title">课程名：</label>
            <div>
                <select id="selCourseCode" class="eduSelect">
                    <option value="-1">请选择</option>

                    @foreach (var cl in @Model.CourseDic)
                    {
                        string typeName = EduCenterSrv.Common.BaseEnumSrv.GetCourseTypeName(cl.Key);
                        <optgroup label="@typeName" class="layui-select-group">
                            @foreach (var c in cl.Value)
                            {
                                <option value="@c.Code">@c.Name</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>
        <div class="oneRow">
            <label class="layui-field-title">试听课日期：</label>
            <div>
                <input type="text" class="bTrialDate layui-elem-field" />
                <i class="fa fa-calendar fa" id="btn_DatePick"></i>
            </div>

        </div>
        <div class="oneRow">
            <label class="layui-field-title">试听课时间：</label>
            <div>

                <select id="selCourseTime" class="eduSelect">
                    <option value="-1">请选择</option>
                    @foreach (var time in Model.TrialTime)
                    {
                        <option value="@time.Key">@time.Value.TimeRange</option>
                    }
                </select>
            </div>
        </div>

        <div class="oneRow">
            <label class="layui-field-title">状态：</label>
            <div class="bStatus"></div>
            @*<div style="margin-left:20px;"><input type="button" id="btnCloseTrial" class="btn btn-xs btn-danger" value="取消试听" /></div>*@
        </div>
    </div>
    <div class="btnList">
        <input id="btn_Close" type="button" class="btn btn-primary btn-sm" value="关闭" />
        <input id="btn_Save" type="button" class="btn btn-warning btn-sm" value="保存" />
    </div>
    
</div>
<input type="hidden" id="TrialId" />
<input type="hidden" id="UserOpenId" />

